services:

  forumdb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong!Passw0rd
    volumes:
      - mssql_forumdb_data:/var/opt/mssql
    ports:
      - "1433:1433"
    # healthcheck:
    #   test: ["CMD", "bash", "-c", "echo 'SELECT 1' | /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P YourStrong!Passw0rd"]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 10
    #   start_period: 30s
  
  forumredis:
    image: redis:7-alpine
    container_name: forumredis
    ports:
      - "6379:6379"
    restart: always

  forum.api:
    container_name: forum-api
    build:
      context: .
      dockerfile: Forum.API/Dockerfile
    ports:
      - "5222:8080" #HTTP
    restart: always
    environment:
      # Connection Strings
      - ConnectionStrings__SqlServerLocalConnection=Server=forumdb;Database=Forum;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True
      
      # Redis
      - Redis__Connection=""

      # JWT
      - JwtOptions__Secret=A8680A4C-E2DD-458B-A193-099A29288A05-25B6C1E4-229D-4F76-A386-D5A953B1E19F
      - JwtOptions__Issuer=forum-api
      - JwtOptions__Audience=forum-api-client

      # Cloudinary
      - Cloudinary__CloudName=dydaxdkkm
      - Cloudinary__ApiKey=772886222661415
      - Cloudinary__ApiSecret=etmiLxQ-k0iK922HxcsoJ9S7ZuI

      # Email
      - EmailSettings__Sender=nika.chkhartishvili7@gmail.com
      - EmailSettings__SmtpServer=smtp.gmail.com
      - EmailSettings__Port=465
      - EmailSettings__UseSsl=true
      - EmailSettings__Username=nika.chkhartishvili7@gmail.com
      - EmailSettings__Password=iewu xuso begl sfbz

      # Serilog Minimum Level Override
      - Serilog__MinimumLevel__Default=Information
      - Serilog__MinimumLevel__Override__Quartz=Warning
      - Serilog__MinimumLevel__Override__Microsoft=Warning
      - Serilog__MinimumLevel__Override__System=Warning
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    depends_on:
      - forumdb
      - forumredis

volumes:
  mssql_forumdb_data:
